.modal {
  width: 100%;
  max-width: 400px;
  margin: auto;
  height: 80%; /* גובה הקומפוננטה */
  max-height: 600px; /* הגובה המקסימלי של הקומפוננטה */
  overflow: auto; 
}
.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}
.error-message {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


